:root {
  --background-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --hero-footer-bg-color: #2f303a;
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contact-text: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --border-color: #eeeeee;
  --clients-border-color: #afb1b8;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

/* NAVIGATION */
.page-header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--header-border-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid green; */
}

.header-nav,
.main-nav {
  display: flex;
  align-items: center;
}

.studio-logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.logo {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:focus,
.link:hover {
  color: var(--accent-color);
  --color3: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}

/* CONTACTS */

.contacts {
  display: flex;
  margin-left: auto;
  align-content: center;
}

.contacts .item + .item {
  margin-left: 50px;
}
.link {
  display: flex;
  align-items: center;
  color: var(--text-color);
  text-decoration: none;
}

.contacts-logo {
  margin-right: 10px;
}

/* HERO SECTION */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: var(--hero-footer-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/main-img.jpg');
}

.hero-section-title {
  margin: 0 auto 30px auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* FEATURES SECTION */

.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item::before {
  display: flex;
  flex-direction: column;
  height: 120px;
  margin-bottom: 30px;
  content: '';
  background-color: var(--background-color);
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
}

/* ABOUT US SECTION */
.about-section {
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.about-list {
  display: flex;
}

.img-item:not(:last-child) {
  margin-right: 30px;
}
.img {
  display: block;
}

/* TEAM SECTION */
.team-list {
  display: flex;
}

.team-card {
  text-align: center;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card + .team-card {
  margin-left: 30px;
}

.card-photo {
  display: block;
}

.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.name-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}

.social-links-list {
  display: flex;
  justify-content: center;
}

.social-item {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.social-logo {
  align-self: center;
  width: 20px;
  height: 20px;
}
.social-link:focus,
.social-link:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
  --color4: var(--primary-white-color);
}
/* CLIENTS SECTION */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* .clients-list {
  display: flex;
} */

/* .clients-item + .clients-item {
  margin-left: 30px;
} */

/* .clients-item::before {
  display: flex;
  content: '';
  height: 90px;
  width: 170px;
  border: 1px solid var(--clients-border-color);
  border-radius: 4px;
} */

.clients-list {
  display: flex;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--clients-border-color);
  border-radius: 4px;
}
.clients-logo {
  align-self: center;
}
.clients-link:focus,
.clients-link:hover {
  border: 1px solid var(--accent-color);
  --color4: var(--accent-color);
}

/* FOOTER */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-bg-color);
}

.footer-wrapper {
  display: flex;
}

.footer-links {
  margin-top: 12px;
  margin-left: 70px;
}
.footer-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-social-link {
  --color4: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-inverse-logo {
  color: var(--primary-white-color);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO PAGE */
.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.radio-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.radio-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--background-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.radio-button-item + .radio-button-item {
  margin-left: 8px;
}

.radio-button:focus,
.radio-button:hover {
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
}

/* PROJECTS */
.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.card-link {
  text-decoration: none;
  display: block;
}

.projects-card {
  margin-right: 30px;
  margin-bottom: 30px;
  /* width: 370px; */
  width: calc((100% - 60px) / 3);
}

.projects-card:nth-child(3n) {
  margin-right: 0;
}

.projects-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding: 20px 24px;
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}

.card-title {
  margin: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.card-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
